apiVersion: apps/v1
kind: Deployment
metadata:
  name: dev-deployment
  namespace: meta
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dev-app
  template:
    metadata:
      labels:
        app: dev-app
    spec:
      serviceAccountName: default  # The pod uses the default SA
      containers:
      - name: dev-container
        image: bitnami/kubectl:latest  # Image that has kubectl tool
        command: ["sh", "-c", "while true; do kubectl get deployments -n meta; sleep 5; done"]